Datos y estadísticas de salud y nutrición de la poblacion Mundial


Estadísticas clave de salud, nutrición y población recopiladas de una variedad de fuentes internacionales. Datos y estadísticas de salud, nutrición y población, Banco Mundial Toggle navigation

https://datatopics.worldbank.org/health/health

                                 ** Reporte de calidad de los datos 
                                 **  Normalización

In [51]:
 ##importando las librerias que se utilizaran en el modelo
import pandas as pd
import numpy as np
import pycountry

In [52]:
data_salud = pd.read_csv('salud.csv')

In [53]:
data_salud.head()

,Country Name,Country Code,Series Name,Series Code,1990,1995,2000,2005,2010,2015,2020
0,Afghanistan,AFG,"Adolescent fertility rate (births per 1,000 wo...",SP.ADO.TFRT,162.8354,164.7084,153.951,138.4284,113.715,81.693,57.509
1,Afghanistan,AFG,Adults (ages 15+) living with HIV,SH.DYN.AIDS,500,890,1600,2800,4200,6600,9600
2,Afghanistan,AFG,Adults (ages 15-49) newly infected with HIV,SH.HIV.INCD,100,200,500,500,1000,1000,1100
3,Afghanistan,AFG,Children with fever receiving antimalarial dru...,SH.MLR.TRET.ZS,..,..,..,..,..,11.8,..
4,Afghanistan,AFG,"Community health workers (per 1,000 people)",SH.MED.CMHW.P3,..,..,..,..,..,..,..

In [54]:
data_salud.drop(columns={'Series Code'},inplace=True) ##dopreamos la columna series code

In [55]:
data_salud.isna().sum() ##verificamos los valores faltantes

Country Name    0
Country Code    0
Series Name     0
1990            0
1995            0
2000            0
2005            0
2010            0
2015            0
2020            0
dtype: int64

In [56]:
data_salud.isnull().sum() ##verificamos si existen nulos

Country Name    0
Country Code    0
Series Name     0
1990            0
1995            0
2000            0
2005            0
2010            0
2015            0
2020            0
dtype: int64

In [57]:
data_salud[data_salud.duplicated()] #chequeamos si existen instancias duplicadas

Empty DataFrame
Columns: [Country Name, Country Code, Series Name, 1990, 1995, 2000, 2005, 2010, 2015, 2020]
Index: []

In [58]:
#creamos un codigo por pais
y = 0
data_salud['cod'] = 0
l = []
for i in range(len(data_salud)):
  if data_salud['Country Code'].iloc[i] not in l:
    y += 1
    l.append(data_salud['Country Code'].iloc[i])
    data_salud['cod'].iloc[i] = y
  else:
    data_salud['cod'].iloc[i] = y

C:\Users\USER\AppData\Local\Temp\ipykernel_16788\4283612588.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_salud['cod'].iloc[i] = y
C:\Users\USER\AppData\Local\Temp\ipykernel_16788\4283612588.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_salud['cod'].iloc[i] = y

In [59]:
j = []
for i in data_salud.iloc[:,4:10].columns:
    j.append(len(data_salud[data_salud[i] == '..']))
print('Numero total de valores faltantes: ' + str(np.sum(j) ))

Numero total de valores faltantes: 16992

In [60]:
print("numero total de valores:" + str(data_salud.shape[1] * data_salud.shape[0]))

numero total de valores:71610

In [61]:
print("porcentaje de valores faltantes: " + str((16992/71610) * 100) + "%")

porcentaje de valores faltantes: 23.72852953498115%

In [62]:
len(data_salud['Series Name'].unique())

30

In [63]:
data_salud

,Country Name,Country Code,Series Name,1990,1995,2000,2005,2010,2015,2020,cod
0,Afghanistan,AFG,"Adolescent fertility rate (births per 1,000 wo...",162.8354,164.7084,153.951,138.4284,113.715,81.693,57.509,1
1,Afghanistan,AFG,Adults (ages 15+) living with HIV,500,890,1600,2800,4200,6600,9600,1
2,Afghanistan,AFG,Adults (ages 15-49) newly infected with HIV,100,200,500,500,1000,1000,1100,1
3,Afghanistan,AFG,Children with fever receiving antimalarial dru...,..,..,..,..,..,11.8,..,1
4,Afghanistan,AFG,"Community health workers (per 1,000 people)",..,..,..,..,..,..,..,1
...,...,...,...,...,...,...,...,...,...,...,...
6505,Zimbabwe,ZWE,Prevalence of overweight (% of children under 5),..,..,..,8.8,5.8,5.6,..,217
6506,Zimbabwe,ZWE,Prevalence of undernourishment (% of population),..,..,..,..,..,..,..,217
6507,Zimbabwe,ZWE,Probability of dying among youth ages 20-24 ye...,14.6,20.6,24.6,23,19.4,16.4,14.7,217
6508,Zimbabwe,ZWE,Probability of dying among children ages 5-9 y...,8.4,8.4,8.6,8.9,8.1,5.7,4,217
6509,Zimbabwe,ZWE,"Tuberculosis death rate (per 100,000 people)",..,..,28,32,8.9,7.9,12,217

Resumén de análisis de la data

        *No hay valores nulos

        *No existen duplicados 

        *EL dataset tiene en total 30 Series clave diferentes en el sector salud de cada pais.
        
        *En la columna años existen valores faltantes declarados asi (..) dicho de otra forma:

        --No existen datos en tal año para ese país con la descripción de la serie sobre la que este el indice.

In [30]:
data_salud.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6510 entries, 0 to 6509
Data columns (total 11 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Country Name  6510 non-null   object
 1   Country Code  6510 non-null   object
 2   Series Name   6510 non-null   object
 3   1990          6510 non-null   float64
 4   1995          6510 non-null   float64
 5   2000          6510 non-null   float64
 6   2005          6510 non-null   float64
 7   2010          6510 non-null   float64
 8   2015          6510 non-null   float64
 9   2020          6510 non-null   float64
 10  cod           6510 non-null   int64
dtypes: float64(7), int64(1), object(3)
memory usage: 559.6+ KB

In [64]:
data_salud['Country Name'] = data_salud['Country Name'].str.strip()

In [65]:
data_salud['Country Name'].unique()

array(['Afghanistan', 'Albania', 'Algeria', 'American Samoa', 'Andorra',
       'Angola', 'Antigua and Barbuda', 'Argentina', 'Armenia', 'Aruba',
       'Australia', 'Austria', 'Azerbaijan', 'Bahamas, The', 'Bahrain',
       'Bangladesh', 'Barbados', 'Belarus', 'Belgium', 'Belize', 'Benin',
       'Bermuda', 'Bhutan', 'Bolivia', 'Bosnia and Herzegovina',
       'Botswana', 'Brazil', 'British Virgin Islands',
       'Brunei Darussalam', 'Bulgaria', 'Burkina Faso', 'Burundi',
       'Cabo Verde', 'Cambodia', 'Cameroon', 'Canada', 'Cayman Islands',
       'Central African Republic', 'Chad', 'Channel Islands', 'Chile',
       'China', 'Colombia', 'Comoros', 'Congo, Dem. Rep.', 'Congo, Rep.',
       'Costa Rica', "Cote d'Ivoire", 'Croatia', 'Cuba', 'Curacao',
       'Cyprus', 'Czechia', 'Denmark', 'Djibouti', 'Dominica',
       'Dominican Republic', 'Ecuador', 'Egypt, Arab Rep.', 'El Salvador',
       'Equatorial Guinea', 'Eritrea', 'Estonia', 'Eswatini', 'Ethiopia',
       'Faroe Islands', 'Fiji', 'Finland', 'France', 'French Polynesia',
       'Gabon', 'Gambia, The', 'Georgia', 'Germany', 'Ghana', 'Gibraltar',
       'Greece', 'Greenland', 'Grenada', 'Guam', 'Guatemala', 'Guinea',
       'Guinea-Bissau', 'Guyana', 'Haiti', 'Honduras',
       'Hong Kong SAR, China', 'Hungary', 'Iceland', 'India', 'Indonesia',
       'Iran, Islamic Rep.', 'Iraq', 'Ireland', 'Isle of Man', 'Israel',
       'Italy', 'Jamaica', 'Japan', 'Jordan', 'Kazakhstan', 'Kenya',
       'Kiribati', "Korea, Dem. People's Rep.", 'Korea, Rep.', 'Kosovo',
       'Kuwait', 'Kyrgyz Republic', 'Lao PDR', 'Latvia', 'Lebanon',
       'Lesotho', 'Liberia', 'Libya', 'Liechtenstein', 'Lithuania',
       'Luxembourg', 'Macao SAR, China', 'Madagascar', 'Malawi',
       'Malaysia', 'Maldives', 'Mali', 'Malta', 'Marshall Islands',
       'Mauritania', 'Mauritius', 'Mexico', 'Micronesia, Fed. Sts.',
       'Moldova', 'Monaco', 'Mongolia', 'Montenegro', 'Morocco',
       'Mozambique', 'Myanmar', 'Namibia', 'Nauru', 'Nepal',
       'Netherlands', 'New Caledonia', 'New Zealand', 'Nicaragua',
       'Niger', 'Nigeria', 'North Macedonia', 'Northern Mariana Islands',
       'Norway', 'Oman', 'Pakistan', 'Palau', 'Panama',
       'Papua New Guinea', 'Paraguay', 'Peru', 'Philippines', 'Poland',
       'Portugal', 'Puerto Rico', 'Qatar', 'Romania',
       'Russian Federation', 'Rwanda', 'Samoa', 'San Marino',
       'Sao Tome and Principe', 'Saudi Arabia', 'Senegal', 'Serbia',
       'Seychelles', 'Sierra Leone', 'Singapore',
       'Sint Maarten (Dutch part)', 'Slovak Republic', 'Slovenia',
       'Solomon Islands', 'Somalia', 'South Africa', 'South Sudan',
       'Spain', 'Sri Lanka', 'St. Kitts and Nevis', 'St. Lucia',
       'St. Martin (French part)', 'St. Vincent and the Grenadines',
       'Sudan', 'Suriname', 'Sweden', 'Switzerland',
       'Syrian Arab Republic', 'Tajikistan', 'Tanzania', 'Thailand',
       'Timor-Leste', 'Togo', 'Tonga', 'Trinidad and Tobago', 'Tunisia',
       'Turkiye', 'Turkmenistan', 'Turks and Caicos Islands', 'Tuvalu',
       'Uganda', 'Ukraine', 'United Arab Emirates', 'United Kingdom',
       'United States', 'Uruguay', 'Uzbekistan', 'Vanuatu',
       'Venezuela, RB', 'Vietnam', 'Virgin Islands (U.S.)',
       'West Bank and Gaza', 'Yemen, Rep.', 'Zambia', 'Zimbabwe'],
      dtype=object)

In [66]:
data_salud.to_csv('indicador_de_salud_normalizado.csv', index=False)